target/
project/boot/
.idea*
*.sublime*
.classpath
.project
.settings/

/src/main/scala/downearth/generation/WorldDefinition.scala
/src/main/resources/materials.png

*~
*.log
*.blend*
*.mtl
*.obj

/worldoctree*


screenshots
config.xml

