<?xml version="1.0" encoding="UTF-8"?>
<config>
	<value name="fullscreen">false</value>
	<value name="window_resolution_width">1024</value>
	<value name="window_resolution_height">768</value>
	
	<keys>
		<key name="forward">L</key>
		<key name="backward">A</key>
		<key name="left">I</key>
		<key name="right">E</key>
		<key name="turbo">W</key>
	</keys>
</config>

